.destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 10px;    
    padding: 20px;
            
}
.destination {
    position: relative;
    cursor: pointer;       
}
#destinations {
    padding-top: 60px;
    padding-bottom: 60px;
}
.destination .location strong {
    font-family: "Dancing Script";
    font-size: 2rem;
}
.destination .location .country {
    font-family: "Montserrat";
    font-size: 14px;
}
.destination .location {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
}
.destination img {
    width: 100%;
    height: 340px;
    object-fit: cover;
       
}
.destination {
    position: relative;
}
.destination:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {    
    
    .destinations {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .destinations img {
        max-height: none;
    }
}
@media (max-width: 767px) {
    .destination {
        height: auto;
        
    }
    .destination img {
        max-height: 100%;
        width: 100%;
    }
}
