#topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 5px;  
    background-image: url('/images/header.jpg');
    background-size: cover;
    background-position: center;   
}

#logo {
    display: flex;
    justify-content: center;
}
#menu {
    display: flex;
    justify-content: flex-end;    
    
}
#menu nav a {
    line-height: 40px;
    color: white;
}
header {   
    color: white;    
    height: 100%;  
    padding-bottom: 20px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif";
}
header > .container-md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}
header h1 {
    font-size: 64px;
    font-weight: bold;
}

@media (min-width: 768px) {    
    #menu img {
        display: none;
    } 
}
@media (max-width: 767px) {
    #menu nav {
        display: none;
    }
}
#search-field {
    background-color: transparent;
    border: none;
    width: 90%;
}
.form-control::placeholder {
    color: grey;
    opacity: 1;   
    
}
