
#topbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;     
}

#book form {
    display: grid;
    grid-template-areas: 
    "destination destination destination"
    "from to guests"
    "submit submit submit";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
}
#book form .destination-select {
    grid-area: destination;
}
#book form .from {
    grid-area: from;
}
#book form .to {
    grid-area: to;
}
#book form .guests {
    grid-area: guests;
}
#book form .submit {
    grid-area: submit;
}
#book form .submit button {
    width: 100%;
}
.destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.destination img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;    
}

header {
    background-image: url('/images/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
header h1 {
    font-size: 64px;
    font-weight: bold;
}
.destination {
    position: relative;
}
.destination .location {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.destination .location strong {
    font-family: "Dancing Script";
    font-size: 2rem;
}
.destination .location .country {
    font-family: "Montserrat";
    font-size: 14px;
}
#destinations {
    padding-top: 60px;
    padding-bottom: 60px;
}
.description {
    font-family: "Montserrat";
}

#logo {
    display: flex;
    justify-content: center;
}
#menu {
    display: flex;
    justify-content: flex-end;
}
#menu nav a {
    line-height: 40px;
    color: white;
}
header > .container-md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

@media (min-width: 768px) {
    #book form {
        grid-template-areas:
        "destination from to guests submit";
    }
    #menu img {
        display: none;
    }
    #destinations .description {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .destinations {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .destinations img {
        max-height: none;
    }
    
}
@media (max-width: 767px) {
    #menu nav {
        display: none;
    }
}
#search-field {
    background-color: transparent;
    border: none;
    width: 90%;
}
.form-control::placeholder {
    color: white;
    opacity: 1;
}