.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 0.75fr 0.25fr;
    grid-template-columns: 1fr;
    font-size: 16px;
    
    
}



header {
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center center;
    /*justify-items: center;*/
    display: grid;        
    padding: 5px;
    color: white;
    font-family: Montserrat;
    align-items: center;
    justify-items: center;    
    grid-row: 1/2;
    line-height: 0.8;
    grid-template-areas: 
    "search-bar search-bar search-bar destination-link sign-in-button"
    "....."
    "destination-bar";
}
.search-bar {
    display: grid;    
    grid-template-areas:    
    "search-button search-field destination-link sign-in-button";
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr 0.25fr 0.4fr;
}

#destination-link {
    justify-self: end;
    align-self: top;
}
#sign-in-button {
    height: 23px;
}


.destination-bar {
    display: grid;
    grid-template-areas: 
    "intro-text intro-text intro-text intro-text intro-text"
    "destination-form destination-form destination-form destination-form destination-form destination-form destination-form";
    
}

.destination-form {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.25fr;
}
#intro-text {
    grid-area: 1/1/1/-1;
}
#destination {
    grid-area: 2/1/2/2;
    width: 95%
}
#from {
    grid-area: 2/2/2/3;
    width: 95%
}
#to {
    grid-area: 2/3/2/4;
    width: 95%
}
#guests {
    grid-area: 2/4/2/5;
    width: 95%
}
#submit {
    grid-area: 2/5/2/5;
    width: 95%;
    background-color: #fcba03;
    border-radius: 12px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 15px;
    
}
button:hover {background-color: #f2b200}

button:active {
  background-color: #f2b200;
  transform: translateX(4px);
}


section {
    padding: 10px;
    border: 2px solid green;
    grid-row: 2/3;
    
}
footer {
    padding: 10px;
    border: 2px solid red;
    grid-row: 3/4;
    
    
}