.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 0.95fr 0.05fr;
    grid-template-columns: 1fr;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 0.9;
    
}

body,html {
    height:100%; 
 }


header {
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center top;
    /*justify-items: center;*/
    display: grid;        
    padding: 5px;
    color: white;    
    align-items: center;
    justify-items: center;    
    grid-row: 1/2;    
    grid-template-areas: 
    "search-bar search-bar search-bar destination-link sign-in-button"
    "....."
    "destination-bar";
}
.search-bar {
    display: grid;    
    grid-template-areas:    
    "search-button search-field destination-link sign-in-button";
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr 0.25fr 1frfr;    
    
}


#search-form #search-button {
    background-color: transparent;
    border: none;    
    border-radius: 100px;
    cursor: pointer;
    
}
#search-field {
    background-color: transparent;
    border: none;
    background-image: url(icons/globe-white.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;     
    }

::placeholder {
    color: white;
    opacity: 1;
}
#destination-link {
    justify-self: end;
    align-self: center;
    color: white;
    padding: 7px;
}
#sign-in-button {
    height: 23px;
    align-self: center;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
#sign-in-button:hover {background-color: #e3e1e1}

#sign-in-button:active {
  background-color: #e3e1e1;
  transform: translateX(4px);
}


.destination-bar {
    display: grid;
    grid-template-areas: 
    "intro-text intro-text intro-text intro-text intro-text"
    "destination-form destination-form destination-form destination-form destination-form destination-form destination-form";
    
}

.destination-form {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.25fr;
}
#intro-text {
    grid-area: 1/1/1/-1;
}
#destination {
    grid-area: 2/1/2/2;
    width: 95%
}
#from {
    grid-area: 2/2/2/3;
    width: 95%
}
#to {
    grid-area: 2/3/2/4;
    width: 95%
}
#guests {
    grid-area: 2/4/2/5;
    width: 95%
}
#submit {
    grid-area: 2/5/2/5;
    width: 95%;
    background-color: #fcba03;
    border-radius: 12px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;    
    background-image: url(icons/arrow-right.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;

    
}
#submit:hover {background-color: #f2b200}

#submit:active {
  background-color: #f2b200;
  transform: translateX(4px);
}


section {      
    grid-row: 2/3;
    display: grid;
    font-size: 10px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
           
}
.destination-text {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr 1fr 1fr;
}
section > h2 {
    grid-area: 1/1/1/2;
}
#field-1 {
    grid-area: 2/1/2/2;
}
#field-2 {
    grid-area: 2/2/2/3;
}
#field-3 {
    grid-area: 2/3/2/4;
}

.city-images {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.city-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-1 {
    grid-column: 1/2;
}
#image-2 {
    grid-column: 2/3;
}
#image-3 {
    grid-column: 3/4;
}
#image-4 {
    grid-column: 4/5;
}



footer {
    padding: 10px;
    border: 2px solid red;
    grid-row: 3/4;
    font-size: 10px;
    
    
}