.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 0.75fr 0.25fr;
    grid-template-columns: 1;
    font-size: 16px;
    
}



header {
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center center;
    /*justify-items: center;*/
    display: grid;        
    padding: 5px;    
    grid-row: 1/2;
    line-height: 0.8;
    grid-template-areas: 
    "search-bar search-bar search-bar destination-link sign-in-button"
    "....."
    "destination-form destination-form destination-form destination-form destination-form"
}
.search-bar {
    display: grid;
    /*grid-template-areas:    
    "search-button search-field destination-link sign-in-button"*/
    grid-template-rows: 1;
    grid-template-columns: 0.1fr 1fr 0.25fr 0.2fr;
}

#search-button {
    background-image: url(icons/search-white.svg);
    grid-area: 1/1/1/1;
}
#search-field {
    grid-area: 1/2/1/3;
}
#destination-link {
    grid-area: 1/3/1/4;
}
#sign-in-button {
    grid-area: 1/4/1/5;
}
section {
    padding: 10px;
    border: 2px solid green;
    grid-row: 2/3;
    
}
footer {
    padding: 10px;
    border: 2px solid red;
    grid-row: 3/4;
    
    
}